Flask==3.1.2
PyMuPDF==1.26.6
pdfplumber==0.11.8
Pillow==12.0.0
numpy==2.2.6
pandas==2.3.3
opencv-python==4.13.0.92
scikit-image==0.25.2
scikit-learn==1.7.2
tensorflow==2.20.0
ultralytics==8.4.62
pytesseract==0.3.13
RapidFuzz==3.14.3
textdistance==4.6.3
ImageHash==4.3.2
spacy==3.8.11
python-chess==1.999
joblib==1.5.2
matplotlib==3.10.9

xx-ent-wiki-sm @ https://github.com/explosion/spacy-models/releases/download/xx_ent_wiki_sm-3.8.0/xx_ent_wiki_sm-3.8.0-py3-none-any.whl